[Unit]
Description=Helper Telegram Bot Service
After=network.target

[Service]
Type=simple
User=fudo
WorkingDirectory=/home/fudo/HelperMain/helperT/Helper
Environment="PATH=/usr/local/bin:/usr/bin:/bin"

# Команда запуска бота через python из venv
ExecStart=/home/fudo/HelperMain/helperT/venv/bin/python3 /home/fudo/HelperMain/helperT/Helper/bot.py

# Автоматический перезапуск при падении
Restart=always
RestartSec=10

# Логирование
StandardOutput=journal
StandardError=journal
SyslogIdentifier=helper-bot

[Install]
WantedBy=multi-user.target
